.s-layout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &--primary {
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}